body {
	font-family: Lato;
	background-color: #231456;
	color: #ecf0f1;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  button {
	background-color: #5BB2B0;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
  }
  
  button:hover {
	background-color: #2980b9;
  }
  
  @media (max-width: 600px) {
	body {
	  padding: 20px;
	}
  
	button {
	  width: 100%;
	}
  }
  